.member .profile_photo {
  display: block;
  width: 120px;
  height: 120px;
}
.member .text-center .profile_photo {
  display: inline-block;
}
#loginInfoMember.member .clearfix .profile {
  width: 70px;
}
