html body {
  font-family: 'Segoe UI', 'Tahoma', 'Hannari Mincho', 'Meiryo', 'MS P Gothic', 'Malgun Gothic', 'Gulim';
  background-color: #edecec;
  min-height: 100vh;
  position: relative;
  /* Bootstrap Growl */
  /* file upload thumbnails */
  /* pagination */
}
html body iframe#hIframe {
  display: none;
}
html body ul.list-table li ul.list-table-th {
  font-weight: bold;
  border-bottom: 2px solid #ddd;
  line-height: 2em;
}
html body ul.list-table li ul.list-table-td {
  line-height: 2em;
  border-bottom: 1px solid #ddd;
}
html body ul.list-table.list-table-hover li ul.list-table-td {
  background-color: transparent;
  transition: background-color 200ms linear;
}
html body ul.list-table.list-table-hover li ul.list-table-td:hover {
  background-color: #fff;
}
html body [data-growl="container"] {
  white-space: nowrap;
}
html body [data-growl="container"] [data-growl="message"] p {
  margin: 0px;
}
html body ul.files {
  margin-bottom: 5px;
}
html body ul.files li {
  margin-bottom: 10px;
}
html body ul.files.thumbnails {
  margin-top: -15px;
  margin-bottom: 0px;
}
html body ul.files.thumbnails li {
  margin-top: 15px;
  margin-bottom: 15px;
}
html body ul.files.thumbnails li img {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  max-width: 100%;
}
html body ul.files.thumbnails li .btn {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}
html body ul.pagination {
  margin-top: 0px;
  margin-bottom: 10px;
}
/* loop default */
.mt0 {
  margin-top: 0px;
}
.mr0 {
  margin-right: 0px;
}
.mb0 {
  margin-bottom: 0px;
}
.ml0 {
  margin-left: 0px;
}
.pt0 {
  padding-top: 0px;
}
.pr0 {
  padding-right: 0px;
}
.pb0 {
  padding-bottom: 0px;
}
.pl0 {
  padding-left: 0px;
}
.mt5 {
  margin-top: 5px;
}
.mr5 {
  margin-right: 5px;
}
.mb5 {
  margin-bottom: 5px;
}
.ml5 {
  margin-left: 5px;
}
.pt5 {
  padding-top: 5px;
}
.pr5 {
  padding-right: 5px;
}
.pb5 {
  padding-bottom: 5px;
}
.pl5 {
  padding-left: 5px;
}
.mt10 {
  margin-top: 10px;
}
.mr10 {
  margin-right: 10px;
}
.mb10 {
  margin-bottom: 10px;
}
.ml10 {
  margin-left: 10px;
}
.pt10 {
  padding-top: 10px;
}
.pr10 {
  padding-right: 10px;
}
.pb10 {
  padding-bottom: 10px;
}
.pl10 {
  padding-left: 10px;
}
.mt15 {
  margin-top: 15px;
}
.mr15 {
  margin-right: 15px;
}
.mb15 {
  margin-bottom: 15px;
}
.ml15 {
  margin-left: 15px;
}
.pt15 {
  padding-top: 15px;
}
.pr15 {
  padding-right: 15px;
}
.pb15 {
  padding-bottom: 15px;
}
.pl15 {
  padding-left: 15px;
}
.mt20 {
  margin-top: 20px;
}
.mr20 {
  margin-right: 20px;
}
.mb20 {
  margin-bottom: 20px;
}
.ml20 {
  margin-left: 20px;
}
.pt20 {
  padding-top: 20px;
}
.pr20 {
  padding-right: 20px;
}
.pb20 {
  padding-bottom: 20px;
}
.pl20 {
  padding-left: 20px;
}
.mt25 {
  margin-top: 25px;
}
.mr25 {
  margin-right: 25px;
}
.mb25 {
  margin-bottom: 25px;
}
.ml25 {
  margin-left: 25px;
}
.pt25 {
  padding-top: 25px;
}
.pr25 {
  padding-right: 25px;
}
.pb25 {
  padding-bottom: 25px;
}
.pl25 {
  padding-left: 25px;
}
.mt30 {
  margin-top: 30px;
}
.mr30 {
  margin-right: 30px;
}
.mb30 {
  margin-bottom: 30px;
}
.ml30 {
  margin-left: 30px;
}
.pt30 {
  padding-top: 30px;
}
.pr30 {
  padding-right: 30px;
}
.pb30 {
  padding-bottom: 30px;
}
.pl30 {
  padding-left: 30px;
}
.mt35 {
  margin-top: 35px;
}
.mr35 {
  margin-right: 35px;
}
.mb35 {
  margin-bottom: 35px;
}
.ml35 {
  margin-left: 35px;
}
.pt35 {
  padding-top: 35px;
}
.pr35 {
  padding-right: 35px;
}
.pb35 {
  padding-bottom: 35px;
}
.pl35 {
  padding-left: 35px;
}
.mt40 {
  margin-top: 40px;
}
.mr40 {
  margin-right: 40px;
}
.mb40 {
  margin-bottom: 40px;
}
.ml40 {
  margin-left: 40px;
}
.pt40 {
  padding-top: 40px;
}
.pr40 {
  padding-right: 40px;
}
.pb40 {
  padding-bottom: 40px;
}
.pl40 {
  padding-left: 40px;
}
.mt45 {
  margin-top: 45px;
}
.mr45 {
  margin-right: 45px;
}
.mb45 {
  margin-bottom: 45px;
}
.ml45 {
  margin-left: 45px;
}
.pt45 {
  padding-top: 45px;
}
.pr45 {
  padding-right: 45px;
}
.pb45 {
  padding-bottom: 45px;
}
.pl45 {
  padding-left: 45px;
}
.mt50 {
  margin-top: 50px;
}
.mr50 {
  margin-right: 50px;
}
.mb50 {
  margin-bottom: 50px;
}
.ml50 {
  margin-left: 50px;
}
.pt50 {
  padding-top: 50px;
}
.pr50 {
  padding-right: 50px;
}
.pb50 {
  padding-bottom: 50px;
}
.pl50 {
  padding-left: 50px;
}
.mt55 {
  margin-top: 55px;
}
.mr55 {
  margin-right: 55px;
}
.mb55 {
  margin-bottom: 55px;
}
.ml55 {
  margin-left: 55px;
}
.pt55 {
  padding-top: 55px;
}
.pr55 {
  padding-right: 55px;
}
.pb55 {
  padding-bottom: 55px;
}
.pl55 {
  padding-left: 55px;
}
.mt60 {
  margin-top: 60px;
}
.mr60 {
  margin-right: 60px;
}
.mb60 {
  margin-bottom: 60px;
}
.ml60 {
  margin-left: 60px;
}
.pt60 {
  padding-top: 60px;
}
.pr60 {
  padding-right: 60px;
}
.pb60 {
  padding-bottom: 60px;
}
.pl60 {
  padding-left: 60px;
}
.mt65 {
  margin-top: 65px;
}
.mr65 {
  margin-right: 65px;
}
.mb65 {
  margin-bottom: 65px;
}
.ml65 {
  margin-left: 65px;
}
.pt65 {
  padding-top: 65px;
}
.pr65 {
  padding-right: 65px;
}
.pb65 {
  padding-bottom: 65px;
}
.pl65 {
  padding-left: 65px;
}
.mt70 {
  margin-top: 70px;
}
.mr70 {
  margin-right: 70px;
}
.mb70 {
  margin-bottom: 70px;
}
.ml70 {
  margin-left: 70px;
}
.pt70 {
  padding-top: 70px;
}
.pr70 {
  padding-right: 70px;
}
.pb70 {
  padding-bottom: 70px;
}
.pl70 {
  padding-left: 70px;
}
.mt75 {
  margin-top: 75px;
}
.mr75 {
  margin-right: 75px;
}
.mb75 {
  margin-bottom: 75px;
}
.ml75 {
  margin-left: 75px;
}
.pt75 {
  padding-top: 75px;
}
.pr75 {
  padding-right: 75px;
}
.pb75 {
  padding-bottom: 75px;
}
.pl75 {
  padding-left: 75px;
}
.mt80 {
  margin-top: 80px;
}
.mr80 {
  margin-right: 80px;
}
.mb80 {
  margin-bottom: 80px;
}
.ml80 {
  margin-left: 80px;
}
.pt80 {
  padding-top: 80px;
}
.pr80 {
  padding-right: 80px;
}
.pb80 {
  padding-bottom: 80px;
}
.pl80 {
  padding-left: 80px;
}
.mt85 {
  margin-top: 85px;
}
.mr85 {
  margin-right: 85px;
}
.mb85 {
  margin-bottom: 85px;
}
.ml85 {
  margin-left: 85px;
}
.pt85 {
  padding-top: 85px;
}
.pr85 {
  padding-right: 85px;
}
.pb85 {
  padding-bottom: 85px;
}
.pl85 {
  padding-left: 85px;
}
.mt90 {
  margin-top: 90px;
}
.mr90 {
  margin-right: 90px;
}
.mb90 {
  margin-bottom: 90px;
}
.ml90 {
  margin-left: 90px;
}
.pt90 {
  padding-top: 90px;
}
.pr90 {
  padding-right: 90px;
}
.pb90 {
  padding-bottom: 90px;
}
.pl90 {
  padding-left: 90px;
}
.mt95 {
  margin-top: 95px;
}
.mr95 {
  margin-right: 95px;
}
.mb95 {
  margin-bottom: 95px;
}
.ml95 {
  margin-left: 95px;
}
.pt95 {
  padding-top: 95px;
}
.pr95 {
  padding-right: 95px;
}
.pb95 {
  padding-bottom: 95px;
}
.pl95 {
  padding-left: 95px;
}
.mt100 {
  margin-top: 100px;
}
.mr100 {
  margin-right: 100px;
}
.mb100 {
  margin-bottom: 100px;
}
.ml100 {
  margin-left: 100px;
}
.pt100 {
  padding-top: 100px;
}
.pr100 {
  padding-right: 100px;
}
.pb100 {
  padding-bottom: 100px;
}
.pl100 {
  padding-left: 100px;
}
