html {
  body {
    font-family:'Segoe UI', 'Tahoma', 'Hannari Mincho', 'Meiryo', 'MS P Gothic', 'Malgun Gothic', 'Gulim';
    background-color:#edecec;
    min-height:100vh;
    position:relative;
    
    iframe#hIframe {
      display:none;
    }
    
    ul.list-table {
      li {
        ul.list-table-th {
          font-weight:bold;
          border-bottom:2px solid #ddd;
          line-height:2em;
        }
        
        ul.list-table-td {
          line-height:2em;
        }
      }
    }
    
    ul.list-table.list-table-hover {
      li {
        ul.list-table-td {
          background-color:transparent;
          transition:background-color 200ms linear;
        }
        
        ul.list-table-td:hover {
          background-color:#fff;
        }
      }
    }
  }
}

/* loop default */
.mp-loop(0,5,100);

.mp-loop(@start,@step,@max) when (@start =< @max) {
  .mt@{start} {
    margin-top:(@start * 1px);
  }
  .mr@{start} {
    margin-right:(@start * 1px);
  }
  .mb@{start} {
    margin-bottom:(@start * 1px);
  }
  .ml@{start} {
    margin-left:(@start * 1px);
  }
  
  .pt@{start} {
    padding-top:(@start * 1px);
  }
  .pr@{start} {
    padding-right:(@start * 1px);
  }
  .pb@{start} {
    padding-bottom:(@start * 1px);
  }
  .pl@{start} {
    padding-left:(@start * 1px);
  }
  
  .mp-loop((@start + @step),@step,@max);
}